/.idea/
/config/paxi/datapacks/

/resourcepacks/1.21.1.zip
/resourcepacks/minecraft-补充汉化材质包-1.21.1.zip
/mods/voxy超远视野-0.4.6-1.21.1-neoforge-alpha.jar
/resourcepacks/Cobblemon_Interface_v1.6.0删除血条版.zip